<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

  <targets>
    <target name="logfile"
            xsi:type="File"
            keepFileOpen="true"
            layout="${longdate} | ${level} | ${callsite} | ${message} | ${exception:format=tostring}"
            fileName="${specialfolder:folder=ApplicationData}/DIPSbot/log.txt"
            archiveFileName="${specialfolder:folder=ApplicationData}/DIPSbot/archives/log.{#####}.txt"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="aiTarget" />
  </rules>
</nlog>
